body {
	margin: 0;
	font-weight: 300;
}

.container {
	width: 60%;
	margin: 0 auto;
}

header {
	background: #222629;
}

header::after {
	content: '';
	display: table;
	clear: both;
}

#search-panel {
	display: inline-block;
	text-align: left;
	max-width: 200px;
}

#search-panel input {
	margin-top: 7px;
	margin-bottom: 6px;
	padding: 3px;
	font-style: italic;
}

#search-link {
	display: none;
}

#login,
#signup {
	display: inline-block;
}

#auth {
	float: right;
}

/*anchors*/
#logo {
	overflow: hidden;
	margin: 2px 20px 0 0;
	padding: 7px;
	color: white;
	float: left;
	text-decoration: none;
}

#signup-trigger,
#login-trigger,
#logout-trigger {
	display: inline-block;
	height: 27px;
	line-height: 25px;
	font-weight: bold;
	padding: 5px 8px;
	text-decoration: none;
	background: #262626;
	color: #FF652F;
	cursor: pointer;
}

#logout {
	display: none;
}

#back {
	color: blue;
	margin-left: 50px;
	border-bottom: 2px solid blue;
	cursor: pointer;
}
/**/

#login-block {
	padding: 10px;
	margin: 0 10px 0 10px;
	max-width: 100px;
	max-height: 100px;
	background-color: white;
}

#login-form {
	display: none;
	position: absolute;
	z-index: 999;
	background: #262626;
	background-image: linear-gradient(top, #fff, #eee);
	padding: 20px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 1.9);
	width: 180px;
}

#logged-user {
	display: none;
	color: red;
}

#signup-modal{
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	display: none;
}

#error-block {
	color: red;
	font-size: 16px;
}

#signup-form {
	margin: 20%, auto, auto, auto;
	height: 100px;
	width: 400px;
}

/*inputs*/
#login-inputs {
	padding: 10px;
	border: 2px solid #FF652F;
}

#signup-inputs
{
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
}

input {
	width: 150px;
	font-style: italic;
}

#login-password {
	margin-top: 5px;
}

#confirm-password {
	margin-top: 5px;
}

#login-button {
	background: white;
	margin-top: 5px;
}
/**/

#login-trigger:hover,
#signup-trigger:hover{
	background-color: white;
}
