#games {
	padding: 20px;
	text-align: center;
	margin: 0 auto;
}

.game-link {
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
	color: dodgerblue;
}

table td {
	width: 250px;
}

ul li {
	display: inline;
	margin-right: 2%;
}