@section styles {
	<link href="~/Content/create-page.css"  rel="stylesheet"/>
}

	<div id="creationPanel">
		<div>
			<label>Title:</label>
			<div class="typehead">
				<input id="title" class="inner-input" type="text" />
			</div>
		</div>

		<div>
			<label>Picture (link):</label><br />
			<div class="typehead">
				<input id="picture" class="inner-input" type="text" />
			</div>
		</div>

		<div>
			<label>Developer:</label>
			<div class="typehead">
				<input id="developer" class="inner-input" type="text" />
			</div>
		</div>

		<div>
			<label>Release Date</label>
			<input id="date" type="date" />
		</div>

		<table>
			<tr>
				<td valign="top" width="105"><label>Genres</label></td>
				<td>
					<select id="genres" class="chosen" multiple="" size="1">
						@foreach (var genre in ViewBag.Genres)
						{
							<option data-id="@genre.Id">@genre.Name</option>
						}
					</select>
				</td>
			</tr>
			<tr>
				<td valign="top" width="105"><label>Platforms</label></td>
				<td>
					<select id="platforms" class="chosen" multiple="" size="1">
						@foreach (var platform in ViewBag.Platforms)
						{
							<option data-id="@platform.Id">@platform.Name</option>
						}
					</select>
				</td>
			</tr>
		</table>

		<div>
			<button id="cancel-button">Cancel</button>
			<button id="create-button">Confirm</button>
		</div>
</div>
@section scripts {
	<script type="text/javascript">
		$(document).ready(function () {
			$(".typehead").click(function () {
				$(this).find("input").focus();
			});

			$(".chosen").focus(function () {
				$(this).attr("size", $(this).children("option").length);
			});

			$(".chosen").focusout(function () {
				$(this).attr("size", "1");
			});

			$(".inner-input").focus(function () {
				$(this).parent().css('border-color', 'green');
			});

			$(".inner-input").focusout(function () {
				if ($(this).val() == '')
					$(this).parent().css('border-color', 'red');
				else
					$(this).parent().css('border-color', 'black');
			});
		});

		$("#create-button").click(function () {
			var game = new Game();
			game.Initialize();

			$.ajax({
				url: '/api/edit/',
				type: "post",
				data: JSON.stringify(game),
				contentType: "application/json;charset=utf-8",
				succes: function (data) {
					console.log(data);
				},
				error: function (data) {
					console.log(data);
				}
			});
		});

		function Game(title, picture, developer, date, genres, platforms) {
			this.title = title;
			this.picture = picture;
			this.developer = developer;
			this.releasedate = date;
			this.genres = genres;
			this.platforms = platforms;
		}

		Game.prototype.Initialize = function () {
			this.title = $("#title").val();
			this.picture = $("#picture").val();
			this.developer = { "Id": "", "Name": $("#developer").val() }
			this.releasedate = $("#date").val();
			var genres = []
			$("#genres").children("option:selected").each(function () {
				genres.push({ "Id": $(this).attr("data-id"), "Name": this.value });
			});
			console.log(genres);
			this.genres = genres;

			var platforms = [];
			$("#platforms").children("option:selected").each(function () {
				platforms.push({ "Id": $(this).attr("data-id"), "Name": this.value });
			});
			this.platforms = platforms;
		}
	</script>
}